@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

* {
    font-family: 'Josefin Slab', serif;
    background-color: #161717;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: auto;
    width: 450px;
}

.botones{
    align-self: flex-start;
    display: flex;
   
    gap: 10px;

}

.btn-google{
    background-color: #161717;
    height: 40px;
    padding: 2px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    align-self: flex-start;
}

.btn-google:hover{
    opacity: 0.6;
    
}

.btn-google picture {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-google picture img {
    width: 95%;
    
}

.btn-google span{
    color: white;
    padding: 15px;
    font-weight: 500;
    
}

.btn-twitter{
    height: 40px;
    background-color: #161717;
    padding: 2px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn-twitter:hover{
    opacity: 0.6;
}

.btn-twitter picture {
    width: 38px;
    height: 38px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-twitter picture img {
    width: 90%;
   
    border-radius: 5px;
}

.separator{
    display: flex;
    width: 100%;
    gap: 15px;
}

.separator hr{
    flex-grow: 1;
    border: none;
    border-top: solid 1px #ccc;

}

.separator span{
    color: #8b8b8b  ;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

.section-inputs{
    display: flex;
    gap: 10px;
    width: 100%;
}

.section-inputs label input {
    width: 80%;
    background-color: #f3f3f4;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
}

label {
    
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label span {
    font-weight: 800;
}


label input {
    width: 90%;
    background-color: #212121;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}

label input:hover {
    background-color: white;
    border: solid 1px #454045;
    box-shadow: 0 0 4px palevioletred;
}

label input:focus {
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px palevioletred;
}

.chkbox-lbl{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chkbox-lbl input[type="checkbox"] {
    width: 20px;
}

.chkbox-lbl span {
    font-weight: 500;
}

.submit-btn{
    background-color: #ea4c89;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;

}

.submit-btn:hover{
    opacity: 0.75;
}